@charset "UTF-8";

* {margin: 0; padding: 0; box-sizing: border-box;}
a:hover {text-decoration: none;}
ul, ol, li {list-style: none;}

#body {min-height: 100vh;padding-top: 80px;padding-bottom: 80px;}