@charset "UTF-8";

:root {
	--font-size: 14px;
	
	--color-default: #191919;
    --color-bak: #fff;
}

body {
	font-size: var(--font-size);
	color: var(--color-default);
	background-color: var(--color-bak);
}

header {
    position: fixed;
    top: 0;
    left: -230px;
    width: 200px;
    height: 100vh;
    background: var(--color-bak);
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    padding: 1em;
	transition: .3s ease;
}
header.show {left: 0;}
header .open-menu {
	position: fixed;
	top: 1rem;
	left: 1rem;
	font-size: 1.5rem;
	color: inherit;
	cursor: pointer;
}
header #gnb {margin-top: 5em;}